*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

:root{
    --bg-color:black;
    --text-color:white;
    --primary-color:rgb(37, 32, 32);
    --secondary-color:red;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.2rem;
}

main #text-section{
    height: 80vh;
    width: 80vw;
}

main #display-text,
main #textarea{
    height: 60vh;
    width: 80vw;
}

main #display-text{
    position: absolute;
    z-index: 1;
    color: rgb(78, 70, 70);
    overflow-x: hidden;
}

main #textarea{
    background-color: transparent;
    color: var(--text-color);
    position: absolute;
    z-index: 2;
    border: none;
}

reset-button{
    top: 50vh;
}